<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/style2.css">


    <div class="row p-5 mb-5" id="show">
        <div class="col-6 ">
            <div class="card mb-3">

                <div class="card-body">
                    <h5 class="card-title">
                        <%= rec.title%>

                    </h5>
                    <p class="card-text">
                        <%= rec.description%>
                    </p>
                </div>

                <div class="card-body">
                    <a class="card-link btn btn-info" href="/recipes/<%=rec._id%>/edit">Edit</a>
                    <form class="d-inline" action="/recipes/<%=rec._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-6">
            <h2>Leave a Review</h2>
            <form action="/recipes/<%=rec._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for(let review of rec.reviews) { %>
                <div class="card mb-3 ">
                    <div class="card-body">
                        <h5 class="card-title">Rating: <%= review.rating %>
                        </h5>
                        <p class="card-text">Review: <%= review.body %>
                        </p>
                        <form action="/recipes/<%=rec._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>

    </div>